{% set today = date() %}
{% set yesterday = date('-1days') %}
<div class="row">
    <div class="cell padded rw-3"><button id="backbtn"><img src="{{ asset("build/images/icons/small_back.gif") }}" /> {% trans from 'global' %}Züruck{% endtrans %}</button></div>
    {% if thread.archived %}
    <div class="cell padded rw-3"><button id="unarchivebtn"><img src="{{ asset("build/images/icons/small_archive.gif") }}" /> {% trans from 'global' %}Entstauben{% endtrans %}</button></div>
    {% elseif thread.sender %}
    <div class="cell padded rw-3"><button id="archivebtn"><img src="{{ asset("build/images/icons/small_archive.gif") }}" /> {% trans from 'global' %}Archivieren{% endtrans %}</button></div>
    {% endif %}
</div>

<div class="row-table home-pm">
    <h5>{% trans from 'game'%}Betreff:{% endtrans %} {{thread.title}}</h5>

    {% for post in posts %}
        <div class="forum-post {% if not post.owner %}crow-pm{% endif %}">
            <div class="forum-post-header {% if not post.owner or post.owner.user.name == 'Der Rabe' %}header-variant-crow{% endif %}">
                <i>
                    {% if post.date.format('Ymd') == today|date("Ymd") %}
                        {{ 'Heute um'|trans({},'global') }} {{ post.date|format_datetime('none', 'short') }}
                    {% elseif post.date.format('Ymd') == yesterday|date("Ymd") %}
                        {{ 'Gestern um'|trans({},'global') }} {{ post.date|format_datetime('none', 'short') }}
                    {% else %}
                        {{ post.date|format_datetime('medium', 'short') }}
                    {% endif %}
                </i>
                {% if post.owner and post.owner.user.name != 'Der Rabe' %}

                    {% if (post.owner.user.avatar) %}
                        {% if app.user.preferSmallAvatars %}
                            <div class="avatar small ua-{{ post.owner.user.id % 10 }}"><img alt="" src="{{ path('app_web_avatar', {'uid': post.owner.user.id, 'name': post.owner.user.avatar.smallName, 'ext': post.owner.user.avatar.format}) }}"></div>
                        {% else %}
                            <div class="avatar ua-{{ post.owner.user.id % 10 }}"><img alt="" src="{{ path('app_web_avatar', {'uid': post.owner.user.id, 'name': post.owner.user.avatar.filename, 'ext': post.owner.user.avatar.format}) }}"></div>
                        {% endif %}
                    {% else %}
                        <div class="avatar small ua-{{ post.owner.user.id % 10 }}"><img alt="" src="{{ asset('build/images/forum/empty_avatar.gif') }}"></div>
                    {% endif %}
                {% else %}
                    {% if app.user.preferSmallAvatars %}
                        <div class="avatarcrow small"><img alt="" src="{{ asset('build/images/forum/crow/crow.small.' ~ (app.request.locale|e('html_attr')|split('_', 2))[0] ~ '.png') }}"></div>
                    {% else %}
                        <div class="avatarcrow"><img alt="" src="{{ asset('build/images/forum/crow/crow.' ~ (app.request.locale|e('html_attr')|split('_', 2))[0] ~ '.png') }}"></div>
                    {% endif %}
                {% endif %}

                <b>
                    {% if not post.owner or post.owner.user.name == 'Der Rabe' %}
                        {{ 'Der Rabe'|trans({},'global') }}
                    {% else %}
                        {{ post.owner.name }}
                    {% endif %}
                </b>
            </div>
            <div class="forum-post-content" >
                {% if not post.owner %}
                    <div class="crowmsg {% if not app.user.preferSmallAvatars %}fixMargin{% endif %}">{{ 'Dies ist eine offizielle Nachricht.'|trans({},'game') }} <a class="help-button"><div class="tooltip help">{{ 'Diese Nachricht wurde dir vom Raben persönlich überbracht. Er schwebt über der Stadt und wirft immer ein wachsames Auge auf dich...'|trans({},'global') }}</div>{{ 'Hilfe'|trans({},'global') }}</a></div>
                {% endif %}

                {% if post.hidden %}
                    <div class="crowmsg {% if not app.user.preferSmallAvatars %}fixMargin{% endif %}">{{ 'Der Rabe hat diese Nachricht zerrissen.'|trans({},'game') }}</div>
                {% else %}
                    {{ post.text|raw }}
                {% endif %}

                {% if post.modMessage %}
                    <div class="modAnnounce">{{ post.modMessage }}</div>
                {% endif %}

                {% if items[post.id] is defined and items[post.id]|length > 0 %}
                    <hr />
                    <div class="help">
                        {% trans from 'game' %}Du hast mit dieser Nachricht folgende Gegenstände erhalten. Sie müssten sich in deiner Truhe befinden (insofern noch niemand vor dir vorbei geschaut hat... ).{% endtrans %}
                        <ul class="linked-items">
                        {% for item in items[post.id] %}
                            <li><img src="{{ asset('build/images/item/item_' ~ item.icon ~ '.gif') }}" alt="{{ item.label|trans({},'items') }}"> {{ item.label|trans({},'items') }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            <div class="forum-post-footer right">
                {% if post.owner and post.owner.user != app.user %}
                    <div class="float-right small">
                        [ <a class="action-button" id="report_post" x-forum-action="report-post" x-post-id={{ post.id }}><img alt="!" src="{{ asset('build/images/forum/warning.png') }}"><div class="tooltip forum-tooltip">{{'Unangemessene Nachricht blockieren'|trans({}, 'global')}}</div></a> ]
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    {% if not thread.archived and not thread.locked and thread.sender %}
        {% if not app.user|restricted(constant('App\\Entity\\AccountRestriction::RestrictionTownCommunication')) %}
            <button id="replybtn">{{ 'Antworten'|trans({},'global') }}</button>
        {% endif %}
        <div id="pm-forum-editor"></div>
    {% endif %}
</div>

<script>
    let sendbtn = document.getElementById("pmsendanswer");
    if(sendbtn) sendbtn.addEventListener('click', function(e){
        e.preventDefault();
        $.ajax.easySend( '{{ path('town_house_send_pm_controller') }}', {global: false, 'content': document.getElementById("pmanswer").value, 'tid': {{ thread.id }}},
            function () {
                $.ajax.load(null, '{{ path('town_house', {'tab': 'messages', 'subtab': 'received'}) }}', true);
            } );
    });

    let backbtn = document.getElementById("backbtn");
    if(backbtn) backbtn.addEventListener('click', function(e){
        e.preventDefault();
        const dest = "{% if thread.archived %}{{ path('town_house', {'tab': 'messages', 'subtab': 'archived'}) }}{% else %}{{ path('town_house', {'tab': 'messages', 'subtab': 'received'}) }}{% endif %}";
        $.ajax.load(null, dest, true);
    });

    let archivebtn = document.getElementById("archivebtn");
    if(archivebtn) archivebtn.addEventListener('click', function(e){
        e.preventDefault();
        $.ajax.easySend( '{{ path('home_archive_pm_controller', {'tid': thread.id, 'action': 1 }) }}', {},
        function () {
            $.ajax.load(null, '{{ path('town_house', {'tab': 'messages', 'subtab': 'received'}) }}', true);
        } );
    });

    let unarchivebtn = document.getElementById("unarchivebtn");
    if(unarchivebtn) unarchivebtn.addEventListener('click', function(e){
        e.preventDefault();
        $.ajax.easySend( '{{ path('home_archive_pm_controller', {'tid': thread.id, 'action': 0 } ) }}', {},
        function () {
            $.ajax.load(null, '{{ path('town_house', {'tab': 'messages', 'subtab': 'archives'}) }}', true);
        } );
    });

    let replybtn = document.getElementById("replybtn");
    if(replybtn) replybtn.addEventListener('click', function(e){
        e.preventDefault();
        replybtn.style.display = "none";
        $.ajax.no_history().load( document.getElementById('pm-forum-editor'), '{{ path('home_answer_post_editor_controller', {tid: thread.id}) }}', false )
    });

    $.html.addEventListenerAll('[x-forum-action="report-post"]', 'click', function(e,elem) {
        if (confirm('{{ 'Bist du sicher, dass du diesen Post an die Moderatoren melden willst?'|trans({},'global')|e('js') }}'))
            $.ajax.easySend( '{{ url('home_report_pm_controller') }}', {pmid: parseInt( elem.getAttribute('x-post-id')) }, function () {
                $.ajax.load(null, '{{ path('town_house', {'tab': 'messages', 'subtab': 'received'}) }}', true);
            } );
    });
</script>